[submodule "ext/CMSIS_5"]
	path = ext/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5
[submodule "ext/trusted-firmware-m"]
	path = ext/trusted-firmware-m
	url = http://git.trustedfirmware.org/trusted-firmware-m.git/
[submodule "ext/mbedtls"]
	path = ext/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "ext/mbed-crypto"]
	path = ext/mbed-crypto
	url = https://github.com/ARMmbed/mbed-crypto
