cmake_build/
original/
update/
__pycache__/
*.swp
ignore-*/
lastVerNum.txt
.lastVerNum.txt
*.hex
.update/
.DS_Store
zephyros/.west/
zephyros/build/
zephyros/modules/
zephyros/tools/
make/local_config.cmake
.vagrant/
.cscope.out
*.dot
