[submodule "zephyros/zephyr"]
	path = zephyros/zephyr
	url = https://github.com/jlwatson/zephyr
[submodule "trusted-firmware-m"]
	path = ext/trusted-firmware-m
	url = https://github.com/jlwatson/trusted-firmware-m.git
[submodule "CMSIS_5-arm"]
	path = ext/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "mbedcrypto"]
    path = ext/mbed-crypto
    url = https://github.com/ARMmbed/mbed-crypto.git
[submodule "mbedtls"]
    path = ext/mbedtls
    url = https://github.com/ARMmbed/mbedtls.git
[submodule "nrf52x-base"]
	path = nrf52x-base
	url = https://github.com/lab11/nrf52x-base
